<!-- Header -->
  <header id="header" class="alt">
    <div class="logo"><a href="index.html">Rainforest <span>courtesy of <a href="https://Wyncode.co">Wyncode</a></span></a></div>
    <a href="#menu">Menu</a>
  </header>
