<!-- Nav -->
  <nav id="menu">
    <ul class="links">
      <li><%= link_to 'Products', products_path %></li>
      <li><%= link_to 'Reviews', reviews_path %></li>
      <li><a href="elements.html">Edit Submission</a></li>
    </ul>
  </nav>
